@{
    ViewData["Title"] = "Home Page";
    var categories = ViewBag.Categories as List<OceanaAura.Web.Models.Lookup.CategoryVM>;
    var Products = ViewBag.Products as List<OceanaAura.Web.Models.Products.ProductVMHome>;
    var CartSummaryList = ViewBag.CartSummaryList;
    var VisibilityFeedback = ViewBag.VisibilityFeedback as List<OceanaAura.Web.Models.Home.VisibilityFeedbackVM>;
    var sizes = (List<OceanaAura.Web.Models.Size.SizeVM>)ViewBag.Sizes;
    var SelectedRegionPage = ViewBag.SelectedRegionPage;
    var SelectedLanguage = ViewBag.SelectedLanguage; // Get the selected language
}
<!-- Billboard Section -->
<section id="billboard" class="bg-light py-5 pt-1">
    <div class="container">
        <div class="row justify-content-center">
            <h3 class="section-title text-center mt-4" data-aos="fade-up">
                <span class="mb-2">OCEANA AURA</span>
                @if (SelectedLanguage == "ar")
                {
                    <small class="d-block fs-6">تحرك بأناقة</small>
                }
                else
                {
                    <small class="d-block fs-6">MOVE WITH STYLE</small>
                }
            </h3>

            <div class="col-md-6 text-center" data-aos="fade-up" data-aos-delay="300">
                <p>
                    @if (SelectedLanguage == "ar")
                    {
                        <span>
                            اكتشف المزيج المثالي من الأناقة والأداء مع زجاجات OA. مصممة لإبقائك تتحرك بأناقة، تتوفر زجاجاتنا بمجموعة متنوعة من الأحجام والألوان لتلبي ذوقك. من الأناقة البسيطة إلى الحيوية الجريئة، OA لديها الزجاجة المثالية لكل لحظة تحافظ على مشروباتك باردة أو ساخنة لساعات.
                        </span>
                    }
                    else
                    {
                        <span>
                            Stay refreshed and inspired with Oceana Aura. Our sleek, elegantly designed water bottles keep your drinks just the right temperature, whether you need a cold sip after a workout or a hot beverage during your commute. Available in a range of colors and sizes.
                        </span>
                    }
                </p>
            </div>
        </div>
        <div class="row">
            <div class="swiper main-swiper py-4" data-aos="fade-up" data-aos-delay="600">
                <div class="swiper-wrapper d-flex border-animation-left">
                    <div class="swiper-slide">
                        <div class="banner-item image-zoom-effect">
                            <div class="image-holder">
                                <a href="#">
                                    <img src="~/File/HomeImg/home1.jpeg" alt="product" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-item image-zoom-effect">
                            <div class="image-holder">
                                <a href="#">
                                    <img src="~/File/HomeImg/home2.jpeg" alt="product" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-item image-zoom-effect">
                            <div class="image-holder">
                                <a href="#">
                                    <img src="~/File/HomeImg/home3.jpeg" alt="product" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-item image-zoom-effect">
                            <div class="image-holder">
                                <a href="#">
                                    <img src="~/File/HomeImg/home4.jpeg" alt="product" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="icon-arrow icon-arrow-left">
                <svg width="50" height="50" viewBox="0 0 24 24">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </div>
            <div class="icon-arrow icon-arrow-right">
                <svg width="50" height="50" viewBox="0 0 24 24">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </div>
        </div>
    </div>
</section>
<!-- Gallery Section -->

<section class="categories overflow-hidden">
    <div class="container py-5">
        <div class="open-up py-5" data-aos="zoom-out">
            <h3 class="element-title text-uppercase text-center mb-5">
                @if (SelectedLanguage == "ar")
                {
                    <span>معرضنا</span>
                }
                else
                {
                    <span>OUR GALLERY</span>
                }
            </h3>        
            <div class="row">
                <div class="col-md-4 p-0">
                    <div class="cat-item image-zoom-effect">
                        <div class="image-holder">
                            <a href="index.html">
                                <img src="~/File/HomeImg/home5.jpeg" alt="categories" class="product-image img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="cat-item image-zoom-effect">
                        <div class="image-holder">
                            <a href="index.html">
                                <img src="~/File/HomeImg/home8.jpeg" alt="categories" class="product-image img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="cat-item image-zoom-effect">
                        <div class="image-holder">
                            <a href="index.html">
                                <img src="~/File/HomeImg/home9.jpeg" alt="categories" class="product-image img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 p-0">
                    <div class="cat-item image-zoom-effect">
                        <div class="image-holder">
                            <a href="index.html">
                                <img src="~/File/HomeImg/home10.jpeg" alt="categories" class="product-image img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="cat-item image-zoom-effect">
                        <div class="image-holder">
                            <a href="index.html">
                                <img src="~/File/HomeImg/home11.jpeg" alt="categories" class="product-image img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="cat-item image-zoom-effect">
                        <div class="image-holder">
                            <a href="index.html">
                                <img src="~/File/HomeImg/home7.jpeg" alt="categories" class="product-image img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 p-0">
                    <div class="cat-item image-zoom-effect">
                        <div class="image-holder">
                            <a href="index.html">
                                <img src="~/File/HomeImg/home18.jpeg" alt="categories" class="product-image img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="cat-item image-zoom-effect">
                        <div class="image-holder">
                            <a href="index.html">
                                <img src="~/File/HomeImg/home17.jpeg" alt="categories" class="product-image img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="cat-item image-zoom-effect">
                        <div class="image-holder">
                            <a href="index.html">
                                <img src="~/File/HomeImg/home16.jpeg" alt="categories" class="product-image img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Products Section -->
@if(Products.Count>0){
    <section id="related-products" class="related-products product-carousel py-5 position-relative overflow-hidden">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
            <h4 class="text-uppercase m-0 d-flex align-item">
                @if (SelectedLanguage == "ar")
                {
                        <span>زجاجاتنا</span>
                }
                else
                {
                    <span>Our Bottles</span>
                }
            </h4>
            <a asp-action="Store" asp-controller="Home" class="btn-link">
                @if (SelectedLanguage == "ar")
                {
                    <span>عرض جميع المنتجات</span>
                }
                else
                {
                        <span>View All Bottles</span>
                }
            </a>
        </div>
        <div class="swiper product-swiper open-up" data-aos="zoom-out">
            <div class="swiper-wrapper d-flex" style="gap:0">
                @foreach (var Product in Products.Take(2))
                {
                    <div class="col-md-6 col-sm-6 col-12 p-4">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder">
                                <a asp-action="Store" asp-controller="Home">
                                    <img src="~/File/ColorsImg/@Product.ImgProduct[0]" alt="product" class="product-image img-fluid">
                                </a>
                                <div class="product-content">
                                    <h5 class="text-uppercase fs-5 mt-3">
                                        <a>@Product.Name</a>
                                    </h5>
                                    <a asp-action="Store" asp-controller="Home" class="text-decoration-none" data-after="Products">
                                        @if (SelectedLanguage == "ar")
                                        {
                                            <span>اذهب إلى المتجر</span>
                                        }
                                        else
                                        {
                                            <span>Go to Shop</span>
                                        }
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

}
<!-- Bottle Sizes Section -->
<section class="bottle-sizes py-5 bg-light">
    <div class="container text-center">
        <h3 class="section-title text-center mb-5 display-4 text-uppercase position-relative">
            @if (SelectedLanguage == "ar")
            {
                <span>اختر حجم الزجاجة</span>
            }
            else
            {
                <span>Choose Your Bottle Size</span>
            }
            <span class="position-absolute bottom-0 start-50 translate-middle-x bg-dark" style="width: 80px; height: 3px;"></span>
        </h3>
        <div class="row justify-content-center g-4">
            @foreach (var size in sizes)
            {
                <div class="col-lg-2 col-md-4 col-sm-6 col-12" data-aos="fade-up" data-aos-delay="0">
                    <div class="card text-center shadow h-100 transition-all hover-shadow">
                        <div class="card-header bg-dark text-white py-3">
                            <h5 class="card-title mb-0 fw-bold">@size.NameEn</h5>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between py-4">
                            <p class="card-text h4 fw-bold text-primary mb-3">
                                @if (SelectedRegionPage == "Jordan")
                                {
                                    @size.PriceJOR <span class="fs-6">JOD</span>
                                }
                                @if (SelectedRegionPage == "United Arab Emirates")
                                {
                                    @size.PriceUAE <span class="fs-6">AED</span>
                                }
                            </p>
                            <a asp-action="store" asp-controller="Home" class="btn btn-outline-dark btn-lg w-100 fw-bold">
                                @if (SelectedLanguage == "ar")
                                {
                                    <span>اشتري الآن</span>
                                }
                                else
                                {
                                    <span style="z-index:100">Buy Now</span>
                                }
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- About Section -->
<section id="aboutus" class="collection bg-light position-relative py-5">
    <div class="container">
        <div class="row">
            <div class="title-xlarge text-uppercase txt-fx domino">
                @if (SelectedLanguage == "ar")
                {
                    <span>المجموعة</span>
                }
                else
                {
                    <span>Collection</span>
                }
            </div>
            <div class="collection-item d-flex flex-wrap my-5">
                <div class="col-md-6 column-container">
                    <div class="image-holder">
                        <img src="~/File/HomeImg/about.jpg" alt="collection" class="product-image img-fluid">
                    </div>
                </div>
                <div class="col-md-6 column-container p-5 bg-white">
                    <div class="collection-content m-0 m-md-5">
                        <h3 class="element-title text-uppercase">
                            @if (SelectedLanguage == "ar")
                            {
                                <span>عن Oceana Aura</span>
                            }
                            else
                            {
                                <span>About Oceana Aura</span>
                            }
                        </h3>
                        <p>
                            @if (SelectedLanguage == "ar")
                            {
                                <span>
                                    ديجنيسيم لاكوس، توربيس أوت سوسبينديس فيل تيلوس. توربيس بوروس، جرافيدا أورسي، فرينجيلا أ. أس سيد يو فرينجيلا أوديو مي. كونسيكوات فاريترا أت ماجنا إمبيرديت كورسوس أس فوبيبوس سيت ليبرو. أولتريسيس كوام نونك، لوريم سيت لوريم أورنا، بريتيوم أليكوام أوت. إن فيل، كويس دونك دولور إد إن. بولفينار كومودو موليس ديام سيد فاسيليسيس أت كورسوس إمبيرديت كورسوس أس فوبيبوس سيت فوبيبوس سيت ليبرو.
                                </span>
                            }
                            else
                            {
                                <span>
                                    Discover hydration like never before with Oceana Aura, which is more than just a water bottle brand; it’s a lifestyle choice for those who value both form and function whether you’re tackling a workout or heading to a meeting. Our collection of premium bottles keeps your drinks cold or hot for hours, all while offering a variety of colors and sizes that fit seamlessly into your routine. Plus, you can make it truly yours by customizing your bottle with your name.
                                </span>
                            }
                        </p>
                        <a href="#" class="btn btn-dark text-uppercase mt-3">
                            @if (SelectedLanguage == "ar")
                            {
                                <span>اشتري الآن</span>
                            }
                            else
                            {
                                <span>Buy Now</span>
                            }
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Video Section -->
<section class="video py-5 pt-0 pb-0 overflow-hidden">
    <div class="">
        <div class="row">
            <div class="video-content open-up" data-aos="zoom-out">
                <div class="video-bg">
                    <img src="~/File/HomeImg/insta1.jpeg" alt="video" class="video-image img-fluid">
                </div>
                <div class="video-player">
                    <!-- Play Icon to Trigger Modal -->
                    <a class="instagram" data-bs-toggle="modal" data-bs-target="#videoModal">
                        <svg width="50" height="50" viewBox="0 0 24 24">
                            <use xlink:href="#play"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Video Modal -->
<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0 m-sm-3">
                <!-- Video Element -->
                <video class="w-100" muted loop autoplay>
                    <source src="~/File/HomeImg/video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>
<!-- Start Feedback Section -->
@if (VisibilityFeedback != null)
{
    <section id="Feedback" class="feedback-section py-5 bg-light ">
        <div class="container text-center pt-5 pb-5">
            <h3 class="section-title text-center mb-5">
                @if (SelectedLanguage == "ar")
                {
                    <span>نحب الإطراء الجيد</span>
                }
                else
                {
                    <span>WE LOVE GOOD COMPLIMENTS</span>
                }
            </h3>
            <div id="feedbackCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    @for (int i = 0; i < VisibilityFeedback.Count; i++)
                    {
                        <button type="button" data-bs-target="#feedbackCarousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")" aria-current="@(i == 0 ? "true" : "false")" aria-label="Slide @(i + 1)"></button>
                    }
                </div>
                <div class="carousel-inner">
                    @foreach (var feedback in VisibilityFeedback.Select((value, index) => new { value, index }))
                    {
                        <div class="carousel-item w-100 mb-5 @(feedback.index == 0 ? "active" : "")">
                            <div class="card feedback-card mx-auto w-100">
                                <div class="card-body text-center p-4">
                                    <div class="quote-icon mb-3">
                                        <i class="fas fa-quote-left fa-2x text-primary"></i>
                                    </div>
                                    <p class="feedback-content mb-4">@feedback.value.Content</p>
                                    <div class="rating-stars mb-3">
                                        @for (int i = 0; i < feedback.value.Rating; i++)
                                        {
                                            <span class="star">★</span>
                                        }
                                        @for (int i = feedback.value.Rating; i < 5; i++)
                                        {
                                            <span class="star">☆</span>
                                        }
                                    </div>
                                    <small class="text-muted">Submitted by: @feedback.value.Email</small>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- Custom Carousel Controls -->
                <button class="carousel-control-prev" type="button" data-bs-target="#feedbackCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon custom-carousel-control" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#feedbackCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon custom-carousel-control" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
}

<!-- Add Custom CSS for Carousel Controls -->
<style>
    .custom-carousel-control {
        width: 50px; /* Adjust width */
        height: 50px; /* Adjust height */
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        filter: invert(1); /* Make the arrow icons white */
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 25px; /* Allow the controls to take up necessary space */
    }
</style>
<!-- end Feedback section  -->
<section class="instagram position-relative">
    <div class="d-flex justify-content-center w-100 position-absolute bottom-0 z-1">
        <a href="https://www.instagram.com/oaforce/?hl=en" target="_blank" class="btn btn-dark px-5">
            @if (SelectedLanguage == "ar")
            {
                <span>تابعنا على إنستغرام</span>
            }
            else
            {
                <span>Follow us on Instagram</span>
            }
        </a>
    </div>
    <div class="row g-0">
        <div class="col-6 col-sm-4 col-md-2">
            <div class="insta-item">
                <a href="https://www.instagram.com/oaforce/?hl=en" target="_blank">
                    <img src="~/File/HomeImg/insta1.jpeg" alt="instagram" class="insta-image img-fluid">
                </a>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
            <div class="insta-item">
                <a href="https://www.instagram.com/oaforce/?hl=en" target="_blank">
                    <img src="~/File/HomeImg/insta2.jpeg" alt="instagram" class="insta-image img-fluid">
                </a>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
            <div class="insta-item">
                <a href="https://www.instagram.com/oaforce/?hl=en" target="_blank">
                    <img src="~/File/HomeImg/insta3.jpeg" alt="instagram" class="insta-image img-fluid">
                </a>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
            <div class="insta-item">
                <a href="https://www.instagram.com/oaforce/?hl=en" target="_blank">
                    <img src="~/File/HomeImg/insta4.jpeg" alt="instagram" class="insta-image img-fluid">
                </a>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
            <div class="insta-item">
                <a href="https://www.instagram.com/oaforce/?hl=en" target="_blank">
                    <img src="~/File/HomeImg/insta5.jpeg" alt="instagram" class="insta-image img-fluid">
                </a>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-2">
            <div class="insta-item">
                <a href="https://www.instagram.com/templatesjungle/" target="_blank">
                    <img src="~/File/HomeImg/insta6.jpeg" alt="instagram" class="insta-image img-fluid">
                </a>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var videoModal = document.getElementById('videoModal');
        var videoElement = videoModal.querySelector('video');

        videoModal.addEventListener('shown.bs.modal', function () {
            videoElement.play();
        });

        videoModal.addEventListener('hidden.bs.modal', function () {
            videoElement.pause();
            videoElement.currentTime = 0; // Reset video to the beginning
        });
    });
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<style>
    .feedback-section {
        background: linear-gradient(135deg, #f9f9f9, #e0e0e0);
        padding: 60px 0;
    }

    .section-title {
        font-size: 2.5rem;
        font-weight: bold;
        color: #333;
        position: relative;
        display: inline-block;
    }

        .section-title::after {
            content: '';
            display: block;
            width: 60px;
            height: 4px;
            background: black;
            margin: 10px auto 0;
        }

    .feedback-card {
        max-width: 600px;
        border: none;
        border-radius: 15px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        background: #fff;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .feedback-card:hover {
            transform: translateY(-10px);
            box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
        }

    .quote-icon {
        color: black;
        opacity: 0.8;
    }

    .feedback-content {
        font-size: 1.2rem;
        color: #555;
        line-height: 1.8;
    }

    .rating-stars {
        font-size: 1.5rem;
        color: #ffc107;
    }

        .rating-stars .star {
            margin: 0 2px;
        }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        border-radius: 50%;
        padding: 15px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 5%;
    }
</style>